In [1]:
import pandas as pd

## Reading in Data

In [6]:
maindf = pd.read_csv('leagueoflegends2021data.csv')
maindf.drop(columns=['Unnamed: 1'], inplace = True)
maindf

                                Team Result  Odds1  Odds2
0    Dignitas�- Counter Logic Gaming   1:00   -133    102
1             Evil Geniuses�- Cloud9   1:00    120   -154
2         100 Thieves�- Team SoloMid   1:00   -149    117
3       FlyQuest eSports�- Immortals   1:00    133   -172
4     Team Liquid -�Golden Guardians   0:01   -385    270
..                               ...    ...    ...    ...
183  Counter Logic Gaming -�Dignitas   0:01   -110   -118
184        Golden Guardians -�Cloud9   0:01    399   -625
185      Evil Geniuses -�100 Thieves   0:01    120   -154
186          Team Liquid -�Immortals   0:01   -909    520
187  Team SoloMid -�FlyQuest eSports   0:01   -189    145

[188 rows x 4 columns]

In [8]:
maindf['Odds1'].iloc[0]

-133

In [9]:
def odds_to_percentage(odd):
    if odd <= -100:
        return odd * -1 / (odd * -1 + 100)
    elif odd >= 100:
        return 100 / (100 + odd)
    return 0

In [14]:
maindf['Percent1'] = maindf['Odds1'].apply(odds_to_percentage)
maindf['Percent2'] = maindf['Odds2'].apply(odds_to_percentage)

In [16]:
maindf['True1'] = (maindf['Percent1'] + (1 - maindf['Percent2']))/ 2

In [18]:
maindf['True2'] = 1 - maindf['True1']

In [19]:
maindf

,Team,Result,Odds1,Odds2,Percent1,Percent2,True1,True2
0,Dignitas�- Counter Logic Gaming,1:00,-133,102,0.570815,0.495050,0.537883,0.462117
1,Evil Geniuses�- Cloud9,1:00,120,-154,0.454545,0.606299,0.424123,0.575877
2,100 Thieves�- Team SoloMid,1:00,-149,117,0.598394,0.460829,0.568782,0.431218
3,FlyQuest eSports�- Immortals,1:00,133,-172,0.429185,0.632353,0.398416,0.601584
4,Team Liquid -�Golden Guardians,0:01,-385,270,0.793814,0.270270,0.761772,0.238228
...,...,...,...,...,...,...,...,...
183,Counter Logic Gaming -�Dignitas,0:01,-110,-118,0.523810,0.541284,0.491263,0.508737
184,Golden Guardians -�Cloud9,0:01,399,-625,0.200401,0.862069,0.169166,0.830834
185,Evil Geniuses -�100 Thieves,0:01,120,-154,0.454545,0.606299,0.424123,0.575877
186,Team Liquid -�Immortals,0:01,-909,520,0.900892,0.161290,0.869801,0.130199
187,Team SoloMid -�FlyQuest eSports,0:01,-189,145,0.653979,0.408163,0.622908,0.377092